// LogStream background image
body::before {
  background: rgba(255, 255, 255, 0.25) no-repeat center/100% url(LogStream.svg);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  opacity: 0.025;
  background-size: cover;
  z-index: -1;
}

// Custom stylesheet for the app
.Primary {
  padding: 40px 0;

  & .UserInputs {
    padding: 0;

    & .row {
      margin-top: 30px;
    }

    & label {
      margin-top: 30px;
    }

    & .row:first-child {
      margin-top: 0;

      & label {
        margin-top: 15px;
      }
    }
  }
}

// Small width / mobile
@media (max-width: 767px) {
  .Primary {
    padding: 15px 10px;

    & label {
      margin-top: 20px;
    }

    & .row {
      margin-top: 10px;
    }
  }
}

// Overrides for the Range Slider
$theme-colors: (
  "primary": #00cccc
);

@import "~react-bootstrap-range-slider/dist/react-bootstrap-range-slider.scss";

.range-slider__wrap {
  & input {
    width: 100%;
  }

  & .range-slider__tooltip {
    position: unset;
    opacity: 100%;
    background-color: unset;

    & .range-slider__tooltip__caret {
      opacity: 0;
    }

    & .range-slider__tooltip__label {
      --bs-text-opacity: 1;
      color: #6c757d !important;
      display: block;
      transform: unset;
      background: unset;
      padding: unset;
    }
  }
}