:root {
  --cribl-teal: #00cccc;
  --cribl-accentOrange: #ff6600;
  --cribl-accentLime: #66cc33;
  --cribl-linkBlue: #0b6cd9;
  --cribl-deepRed: #cc190a;
  --cribl-emeraldGreen: #00cc99;
  --cribl-complimentaryTeal: #008080;
  --cribl-jetBlack: #000000;
  --cribl-mono1: #1a1a1a;
  --cribl-mono2: #333333;
  --cribl-mono3: #666666;
  --cribl-mono4: #cccccc;
  --cribl-mono5: #d8d8d8;
  --cribl-mono6: #e8e8e8;
  --cribl-mono7: #f8f8f8;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

@import "~bootstrap/scss/bootstrap";

.accordion-button:not(.collapsed) {
  background-color: var(--cribl-mono7);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.form-check-input:checked {
  background-color: var(--cribl-teal);
  border-color: var(--cribl-complimentaryTeal);
}
